<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Main Switch</string>
        
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.waruhachi.locus</string>
        <key>key</key>
        <string>enabled</string>
        <key>label</key>
        <string>Enable Locus</string>

        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Target Applications</string>

        <!-- 使用 AltList 來列出所有應用程式 -->
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>bundle</key>
        <string>AltList</string>
        <key>isController</key>
        <true/>
        <key>label</key>
        <string>Select Applications</string>
        <key>ALNavigationTitle</key>
        <string>Select Applications</string>
        <key>ALSettingsPath</key>
        <string>/var/mobile/Library/Preferences/com.waruhachi.locus.plist</string>
        <key>ALSettingsKeyPrefix</key>
        <string>apps-</string>
        <key>ALChangeNotification</key>
        <string>com.waruhachi.locus/settingschanged</string>
    </dict>
</dict>
</plist>